* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(to bottom, #9a2dee, #b31dcd, #bd1aaf, #bf2495, #bb3380);
}

.box-nav {
  height: 70px;
  display: flex;
  background: #313132;
  align-items: center;
}

.box-nav__logo {
  width: 20%;
  color: rgb(243, 236, 236);
  text-align: center;
}

.box-nav__ul-links {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.box-nav__li-links {
  display: flex;

}

.box-nav__link {
  padding-top: 15px;
  text-decoration: none;
  color: rgb(243, 236, 236);
  margin-right: 20px;
}

.article-card {
  background-color: #262626;
}

.btn {
  background-color: rgba(206, 190, 14, 0.893);
  color: rgb(10, 9, 9);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #070708;
  background-color: #646cff;
}

/* footer */
.box-footer {
  height: 20vh;
  background: #313132;
  color: #fff;
  display: flex;
}

.box-footer__div {
  padding-top: 2%;
  border: 1px solid #fff;
  text-align: center;
}

.box-footer__paragraph {
  color: #fff;
  font-weight: bold;
  margin-top: revert;
}

@media (max-width: 768px) {


  .box-footer {
    display: block;
    height: 30%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}